.Form {
  margin-top: 10px;
  font-weight: 600;
  display: flex;
}

.Input {
  width: 75%;
  height: 33px;
  border-radius: 3px;
}

.Button {
  width: 25%;
}

.AmountTextDiv  {
  margin-top: 30px;
  font-weight: 500;
}