.Results {
  width: 80%;
  padding: 0px 10px;
  margin: auto;
  border: 1px solid black;
  background-color: #f5f5f5;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
}

.Results p {
  margin-top: 6px;
  margin-bottom: 6px;
}

.ResultsOuter {
  margin-bottom: 5px;
}
