.Wrapper {
  min-width: 335px;
  max-width: 600px;
  margin-top: 72px;
  margin-left: auto;
  margin-right: auto;
}

.Content {
  border-radius: 3px;
}

.Main {
  box-shadow: rgb(0, 0, 0) 0px 3px 10px 0px;
  background-color: #fbfff5;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
}

